{% extends "base.njk" %}

{% block content %}

 <!-- Hero content: will be in the middle -->
  <section class="hero is-primary is-small>
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        A11pine Forestry With Bulma
      </h1>
      <p class="subtitle">
        A refreshing, beautiful, and easy going Eleventy Starter Project. 
      </p>
    </div>
  </div>
</section>
  
<section class="section">
      <div class="container is-clipped">
        <div id="slider">
          <div class="card">
            <div class="card-image">
              <figure class="image is-16by9 is-covered">
                <a href="#"><img
                  src="img/alpineforestry1.jpg"
                  alt="a11pine forestry foggy"
                /></a>
              </figure>
            </div>
            <div class="card-content">
              <div class="item__title">
                <a href="https://alpinejs.dev"><strong>Alpine.js</strong></a> - <em>Your new, Lightweight, JavaScript Framework</em>
              </div>
              <div class="item__description">
                <q cite="https://alpinejs.dev">I hope you find Alpine to be a breath of fresh air. Silence among noise.</q> -<a href="https://twitter.com/calebporzio"><strong>Caleb</strong></a>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-image">
              <figure class="image is-16by9 is-covered">
                <a href="#"><img
                  src="img/alpineforestry3.jpg"
                  alt="a11pine forestry pic 2"
                /></a>
              </figure>
            </div>
            <div class="card-content">
              <div class="item__title">
                <a href="https://bulma.io"><strong>Bulma:</strong></a><em>The <strong>Modern</strong> CSS framework that just <strong>works.</strong></em>
              </div>
              <div class="item__description">
                Bulma is a CSS library. This means it provides CSS classes to help you style your HTML code. <a href="https://jgthms.com/"><strong>by Jeremy Thomas</strong></a> <a href="https://twitter.com/jgthms"><strong>@jgthms</strong></a>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-image">
              <figure class="image is-16by9 is-covered">
                <a href="#">
                <img
                  src="img/alpineforestry4.jpg"
                  alt="alpine forestry pic 4"
                />
                </a>
              </figure>
            </div>
            <div class="card-content">
              <div class="item__title">
                <a href="https://forestry.io/"><strong>Forestry:</strong></a><em> Git-based CMS that <strong>commits</strong></em>
              </div>
              <div class="item__description">
                <strong>Build amazing sites</strong> Import your Git repository and edit within seconds.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <figure class="image is-16by9 is-covered">
                <img
                  src="img/alpineforestry2.jpg"
                  alt="a11pine forestry pic 2"
                />
              </figure>
            </div>
            <div class="card-content">
              <div class="item__title">
                <a href="https://11ty.dev"><strong>Eleventy,</strong></a><em> a simpler static site generator.</em> 
              </div>
              <div class="item__description">
                "Don't tell Zach I said it but Eleventy is seeming Fresh as hell so far" - <a href="https://twitter.com/wilto/"><strong>Mat Marquis</strong></a>
                <br/>
                "I heard <a href="https://twitter.com/eleven_ty"><strong>@eleven_ty</strong></a> was good"<a href="https://twitter.com/lachzeat"><strong>@zachleat</strong></a>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-image">
              <figure class="image is-16by9 is-covered">
                <a href="#"><img
                  src="img/alpineforestry5.jpg"
                  alt="a11pine forestry pic 5"
                /></a>
              </figure>
            </div>
            <div class="card-content">
              <div class="item__title">
                <a href="https://spacebook.app"><strong>Spacebook:</strong></a> <em>Create a modern notebook to document or explain almost anything.</em>
              </div>
              <div class="item__description">
                Spacebook is a simple website generator that will help you create your own project just like this one using a bunch of cool & modern tech.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <img src="img/pinewoodstudiologoal.png" alt="pine wood studio logo"/>
            </div>
            <div class="card-content">
              <div class="item__title">
                <a href="https://pinewoodstudio.agency" style="height:min-content"><strong>Pine Wood Studio</strong></a>
              </div>
              <div class="item__description">
                <em>Our studio is like waking up and smelling the fresh pines - our apps and websites are refreshing, simple, and solve your business problems</em><a href="https://twitter.com/geauxweisbeck4">@GeauxWeisbeck4</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}