<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <span id="year"></span><strong>A11pine Forestry</strong> by <a href="https://GeauxWeisbeck4.dev">Andrew Weisbeck</a> The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. 
        <a href="https://twitter.com/geauxweisbeck4">@GeauxWeisbeck4</a>.
      </p>
    </div>
  </footer>
  <script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
</script> 